# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\Projects\DateConverter_withTests-master\DateConverter_withTests-master\.idea/dataSources/
/dataSources.local.xml
